#title {
    padding: 10px;
    text-align: center;
}

#satu {
    padding: 10px;
    width: 1000px;
}

#dua {
    padding: 10px;
    width: 1000px;
}

#tiga {
    padding: 10px;
    width: 1000px;
}

#empat {
    padding: 10px;
    width: 1000px;
}

#tombolDaftar {
    padding: 10px;
    text-align: center;
}

h3 {
    text-align: center;
}