.btn-sb {
    color: white;
    background-color: #4BAF85;
}

.views-content {
    color: #4BAF85;
}

#post-list:hover {
    overflow: hidden;
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.005);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.rounded {
    border-radius: 30rem;
}