{% extends 'base.html' %}
{% load static %}
{% block meta %}
<meta charset="utf-8">
<meta name="viewport">
<!-- Bootstrap CSS for styling and layout-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock meta %}
{% block content %}
    <div class="container">
        <h2>Sign Up Registerasi Relawan Vaksin</h2>
        <hr>
        <!-- Membuat page  form daftar relawan vaksin  -->
        <div class="form-group">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p}}
                <p>Dengan mendaftar menjadi relawan vaksin,Anda telah setuju dengan persyaratan <a href="#"
                        style="color:dodgerblue">Terms & Privacy</a> dari Berlapan.com.</p>

                <div class="clearfix">
                    <!-- <a href="/Daftar_relawan/"><button type="button" class="cancelbtn">Cancel</button></a> -->
                    <button type="submit" class="btn btn-primary">Sign Up</button>

            </form>
        </div>
{% endblock %}